<!DOCTYPE html>
{% load static %}
<html>
    <head><title>Brokkoly Control Station</title></head>
    <link rel="stylesheet" href="{% static 'ui/css/base.css' %}" />
    {% block extra_styles %}{% endblock %}
    <body>
        <nav>
            <ul>
                <li {% if request.path == '/setup/' %} class="active"{% endif %}><a href="/setup"><img src="{% static 'ui/css/images/base/setup.svg' %}"></img><span>Setup</span></a></li>
                <li {% if request.path == '/manual-control/' %} class="active"{% endif %}><a href="/manual-control"><img src="{% static 'ui/css/images/base/gamepad.svg' %}"></img><span>Manual Control</span></a></li>
                <li {% if request.path == '/navigation/' %} class="active"{% endif %}><a href="/navigation"><img src="{% static 'ui/css/images/base/navigation.svg' %}"></img><span>Navigation</span></a></li>
                <li {% if request.path == '/drone-info/' %} class="active"{% endif %}><a href="/drone-info"><img src="{% static 'ui/css/images/base/info.svg' %}"></img><span>Drone Info</span></a></li>
                <li {% if request.path == '/documentation/' %} class="active"{% endif %}><a href="/documentation"><img src="{% static 'ui/css/images/base/documentation.svg' %}"></img><span>Documentation</span></a></li>
            </ul>
        </nav>
        
        <h1 id="page_title">{% block page_title %}{% endblock %}</h1>
        {% block content %}{% endblock %}

    </body>
</html>