<!DOCTYPE html>

{% load static %}
<html>

<head>
    <title>Manual Control</title>
    <link rel="stylesheet" href="{% static 'ui/manual_control.css' %}" />
</head>

<body>

    <nav>
        <ul>
            <a href="../setup">Setup</a>
            <a href="">Manual Control</a>
            <a href="../navigation">Autonomous Navigation</a>
            <a href="../drone-info">Drone Info</a>
            <a href="../documentation">Documentation</a>
        </ul>
    </nav>
    <h1 id="page_title">MANUAL CONTROL</h1>

    <div id="camera_display">

    </div>

    
    <div id="map_display">

    </div>


    <div id="sensor_display">
            <h3>SENSOR DATA</h3>
        
        <div id="gps_data">
            <h4>GPS</h4>
            <ul>
                <li>Lat.: 43.664556°N</li>
                <li>Lon.: 7.867775°E</li>
                <li>Alt.: 12.3m</li>
            </ul>
        </div>
        <h4 id="battery_voltage">Battery Voltage: 19.2V</h4>
            <div id="motor_speeds"> <h4>Motor Speeds</h4>
                <ul>
                    <li>M1: 1200RPM</li>
                    <li>M2: 2000RPM</li>
                    <li>M3: 1200RPM</li>
                    <li>M4: 8000RPM</li>
                </ul></div>
       
    </div>

    <div id="control_inputs">This section is supposed to show what control inputs the operator is sending to the drone
    </div>

    <!-- <div id="drone_state">
        <p>Current drone state and emergency stops (wait, abort, etc...)</p>
    </div> -->
</body>


</html>