{% extends "ui/base.html" %}
{% load static %}
{% block extra_styles %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js' async></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="{% static 'ui/css/manual_control.css' %}" />
{% endblock %}

{% block page_title %}MANUAL CONTROL{% endblock %}


{% block content %}

    <div id="video-container">
        <img id="video-stream" src="{% url 'video_feed' %}">
    </div>

    <div id="map" style='width: 500px; height: 500px;'></div>
    <!-- Loading asynchronously the scripts -->
    <script src="{% static 'ui/js/manualmap.js' %}" async></script>


{% endblock %}





    <!-- <div id="map" style='width: 500px; height: 500px;'></div>
        <script>
       


       </script> -->
