<!DOCTYPE html>

{% load static %}
<html>

<head>
    <title>Manual Control</title>
    <link rel="stylesheet" href="{% static 'ui/base.css' %}" />
</head>

<body>

    <nav>
        <a href="setup.html">Setup</a>
        <a href="manual_control.html">Manual Control</a>
        <a href="autonomous_nav.html">Autonomous Navigation</a>
        <a href="dr_info.html">Drone Info</a>

    </nav>
    <h1>Manual Control</h1>


    <div id="camera_display">
        <p> This is the division where the camera will be displayed. Probably some information overlay with the sensors
            will be done as it will be easier to see for the pilot. A full screen option will be available, and ideally
            linked to a joystick button that needs to be mapped. </p>

    </div>

    <div id="map_display">

    </div>


    <div id="sensor_display">

    </div>


</body>



</html>