<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Navigation</title>
    <link rel="stylesheet" href="{% static 'ui/navigation.css' %}" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

    <nav>
        <ul>
            <a href="../setup"><img src="{% static 'ui/images/setup.svg' %}"></img><span>Setup</span></a>>
            <a href="../manual-control"><img src="{% static 'ui/images/gamepad.svg' %}"></img><span>Manual Control</span></a>>
            <a href="../navigation"><img src="{% static 'ui/images/navigation.svg' %}"></img><span>Navigation</span></a>
            <a href="../drone-info"><img src="{% static 'ui/images/info.svg' %}"></img><span>Drone Info</span></a>
            <a href="../documentation"><img src="{% static 'ui/images/documentation.svg' %}"></img><span>Documentation</span></a>
        </ul>
    </nav>
    <h1 id="page_title">NAVIGATION</h1>

    <div id="map" style='width: 900px; height: 700px;'></div>

    <div id="map_buttons">
        <h2>Waypoint Details</h2>
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" placeholder="Enter longitude" />
    
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" placeholder="Enter latitude" />
        
        <button id="addWaypointBtn">Add Waypoint</button>
        <button id="addTakeoffBtn">Add Takeoff Point</button>
        <button id="addLandingBtn">Add Landing Point</button>
      </div>

    <script src="{% static 'ui/js/navmap.js' %}"></script>

</body>


</html>

