


nav {
     position: absolute;
     background-color: #0e172e;
     left: 1%;
     top: 5%;
     height: 52%;
     width: 11.6%;
     border-radius: 10px;
}

nav ul {
     list-style-type: none;
     position: inherit;
     top: 3%;
     bottom: 10%;
     margin: 0;
     padding: 0;
}

nav ul a{
     display: block;
     margin-block: 0px;
     color: white;
     font-weight: bold;
     text-decoration: none;
     padding-top: 25px;
     padding-bottom: 25px;
     padding-left: 14px;
     padding-right: 27px;
     text-align: left;

}

nav ul a img {
     width: 30px;
     height: 30px;
     vertical-align: middle;
     margin-right: 5px;
}


nav ul a:hover {
     background-color: #ad6242;
     border-radius: 5px;
}



#page_title {
     position: absolute;
     top: 1%;
     left: 14%;
     color: white;
}

#camera_display {
     position: absolute;
     left: 15%;
     top: 10%;
     opacity: 1;
     border-radius: 50px;

}

#map {
     position: absolute;
     top: 70px;
     left: 1300px;

     border-radius: 25px;
}

#sensor_display {
     position: absolute;
     background-color: #ad6242;
     top: 70%;
     left: 10%; 
     height: 200px;
     width: 1000px;
     color: white;
}

#sensor_display h3 {
     position: inherit;
     padding-left: 5px;
}

#gps_data {
     position: inherit;
     top: 25px;
}

#gps_data ul {
     list-style-type: none;
     position: inherit;
     left: -30px;
     width: 150px;
     top: 30px;
}

#battery_voltage {
     position: inherit;
     top: 25px;
     left: 400px;
}

#motor_speeds {
     position: inherit;
     top: 25px;
     left: 200px;
}

#motor_speeds ul {
     list-style-type: none;
     position: inherit;
     left: -30px;
     width: 150px;
     top: 30px;
}






#control_inputs {
     position: absolute;
     background-color: white;
     bottom: 20px;
     right: 20px;
     height: 330px;
     width: 550px;
}

#drone_state {
     position: absolute;
     background-color: white;
     bottom: 0px;
     height: 100px;
     left: 800px;
     width: 200px;
}





